/* Estilos gerais */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f0f2f5;
}

header {
    background-color: #4682B4; /* Azul escuro */
    color: #ffffff;
    padding: 1rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

header h1 {
    margin: 0;
    font-size: 1.5rem;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    margin: 10px 0;
}

nav ul li a {
    color: #ffffff;
    text-decoration: none;
}

.indices-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Duas colunas */
    gap: 1rem; /* Espaçamento entre os itens */
    padding: 2rem;
    margin-top: 60px; /* Para não ficar atrás do header fixo */
}

.lista-item {
    background-color: #ffffff; /* Cor de fundo */
    padding: 1.2rem;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.3s;
    border: 1px solid #87CEEB; /* Cor da borda */
}

.lista-item:hover {
    background-color: #87CEEB; /* Cor ao passar o mouse */
}

.calculos {
    margin-top: 2rem;
    padding: 2rem;
    background-color: #ffffff;
    border-radius: 8px;
    border: 1px solid #87CEEB; /* Cor da borda */
}

/* Media query para telas menores */
@media (max-width: 768px) {
    .indices-container {
        grid-template-columns: repeat(2, 1fr); /* Duas colunas em dispositivos móveis */
    }
}

/* Estilos do footer */
footer {
    background-color: #4682B4; /* Azul escuro */
    color: #ffffff;
    text-align: center;
    padding: 1rem;
    position: relative;
    bottom: 0;
    width: 100%;
}